@font-face {
    font-family: 'Noto Sans JP';
    src: url('/assets/fonts/noto_sans_jp/NotoSansJP-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900; /* Variable font supports a range of weights */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('/assets/fonts/noto_serif_jp/NotoSerifJP-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900; /* Variable font supports a range of weights */
    font-style: normal;
    font-display: swap;
}