$color-primary: #1A1A21;
$color-secondary: #C09C7B;
$color-tertiary: #FDFAD7;
$color-navigation: #1E0C1B;
$gold-gradient-right: linear-gradient(to right, #5A493A, #C09C7B);
$gold-gradient-left: linear-gradient(to left, #5A493A, #C09C7B);
$max-width: 75rem;