@use '../base/variables' as *;

.section {
    display: block;
    position: relative;
    width: 100%;
    padding: 5rem 0;
    
    &--full-color {
        padding: 10rem 0;
    }

    &--xlarge-margin-top {
        padding-top: 10rem;
    }

    &--xlarge-margin-bottom {
        padding-bottom: 10rem;
    }

    &__template {
        position: relative;
        max-width: $max-width;
        margin: 0 auto;
        z-index: 1;

        img {
            height: 100%;
            object-fit: cover;
            border-radius: 1.5rem;
        }

        &--banner {
            padding: 3rem;
            display: flex;
            border-radius: 1.5rem;

            .section-main {
                width: 60%;
                
                div, h2 {
                    color: white;
                }
            }

            .section-image {
                width: 40%;
            }
        }

        &--two-col {
            display: flex;
            column-gap: 3rem;

            .section-main {
                width: 60%;
            }

            .section-image {
                width: 40%;
                height: 460px;

                img {
                    box-shadow: 0px 4px 4px rgba(#000000, .25);
                }
            }
        }

        &--stacked {

            .section-main {
                margin-bottom: 5rem;
            }
        }

        .section-main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 2rem;

            &__title {
                font-weight: bold;
                font-size: .75rem;
                color: $color-secondary;
            }

            &__header {
                font-size: 2rem;
            }

            &__text {
                font-size: 1rem;
            }
        }

        .section-sub {
            
            &--two-col {
                display: flex;
                column-gap: 3rem;

                .section-sub__image {
                    width: 40%;
                }

                .section-sub__text {
                    width: 60%;
                }
            }

            &__image {
                height: 460px;
            }

            &__text {

                &--points {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                }

                .text-group {
                    
                    h3 {
                        color: $color-secondary;
                        margin-bottom: .75rem;
                    }
                }
            }
        }
    }
}